<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/build/css/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <style>
  th, td{
      font-size: 0.9em;
  }
      tr:nth-of-type(even){
          background: #ccc;
      }
      tr, th{
        width: min-content;
        text-align: center;
        padding: 0.5rem;
      }
      td{
          padding: 0.5rem;
          max-width: 7em;
          word-wrap: break-word;
      }
  </style>

  <body>
      <% include partials/aside %>
      <main>
          <% if (logged_in !== true) { %>
              <form class="userInput" action="/cms" method="post">
                  <label for="username">Accountnaam</label>
                  <input id="username" type="text" name="username">
                  <label for="password">Wachtwoord</label>
                  <input id="password" type="text" name="password">
                  <input type="submit" value="Submit">
              </form>
          <% } else{ %>
              <h1>Data in Database</h1>

              <form >
                  <label for="search">search</label>
                  <input id="search" type="text" name="search">
                  <input type="submit" value="Submit">
              </form>

            <a href="./cms/add" alt="add a new sensor"><button>Nieuw (+)</button></a>

              <table>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>Link</th>
                    <th>Contact</th>
                    <th>Aanpassen</th>
                    <th>Verijderen</th>
                  </tr>

                  <% allSensors.forEach(function(sensor) { %>
                      <tr>
                          <td><%= sensor._id %></td>
                          <td><%= sensor.name %></td>
                          <td><%= sensor.sector %></td>
                          <td><a href="/details/<%= sensor.sector[0]%>/<%= sensor.branch[0] %>/<%= sensor.name %>">Link</a></td>
                          <td><%= sensor.contact %></td>
                          <td><a href="/cms/edit/<%= sensor._id %>">Aanpassen</a></td>
                          <td><a href="/cms/remove/<%= sensor._id %>">Verwijderen</a></td>
                      </tr>
                  <% }) %>
            </table>
          <% } %>
    </main>

  </body>
</html>
