<% include partials/head %>
<% include partials/header %>
<% include partials/aside %>

     <main class="edit">
         <section>
    <h1>Edit the <%=allSensors.name%> sensor</h1>
    <form class="userInput" method="post" >
        <fieldset id="sensor">
            <legend>Sensor information</legend>
            <label for="name">Naam</label>
            <input id="name" type="text" name="name" value="<%=allSensors.name%>"><span>*required</span><br/>

            <label for="image">Profielfoto</label>
            <input id="image" class="input-sensor-img" type="url" name="image" value="<%=allSensors.image%>">
            <img class="output-sensor-img" src="<%=allSensors.image%>"/>

            <% Object.keys(AllSettings).forEach(function(key) { %>
                <% if(key !== "_id"){ %>
                    <fieldset>
                        <legend><%= key %></legend>
                        <p>Please select the corresponding <%= key %>.</p>
                            <% AllSettings[key].forEach(function(value) { %>

                                <label>

                                    <% if(allSensors[key]== value){ %>
                                       <input type="checkbox" name="<%= key %>" value="<%= value %>" checked> <%= value %> <br/>
                                    <% } else if (typeof(allSensors[key]) == "object" && allSensors[key].indexOf(value) >= 0){ %>
                                        <input type="checkbox" name="<%= key %>" value="<%= value %>" checked> <%= value %> <br/>
                                    <% } else{ %>
                                       <input type="checkbox" name="<%= key %>" value="<%= value %>"> <%= value %> <br/>
                                    <% } %>
                                </label>
                            <% }) %>
                                <input type="checkbox" name="<%= key %>" id="nieuw-<%= key %>" value="nieuw">
                                <label for="nieuw-<%= key%>" class="nieuw">Nieuw</label>
                                <input type="text" name="<%= key %>" id="nieuw-<%= key %>2">
                    </fieldset>
                <% } %>
            <% }) %>

            <label for="summary_smal">Short summary</label><br/>
            <textarea id="summary_smal" name="summary_smal" rows="4" cols="50"><%=allSensors.summary_smal%></textarea><br/>

            <label for="summary_big">Long summary</label><br/>
            <textarea id="summary_big" name="summary_big" rows="4" cols="50" ><%=allSensors.summary_big%></textarea><br/>
        </fieldset>

        <fieldset id="contact">
            <legend>Contact information</legend>
             <label for="contactName">Voor- en achternaam</label>
             <input id="contactName" type="text" name="contactName" value="<%=allSensors.contactName%>"> <span>*required</span><br/>

             <label for="contactPhone">Telefoon nummer</label>
             <input id="contactPhone" type="tel" name="contactPhone" value="<%=allSensors.contactPhone%>"> <span>*required</span><br/>

             <label for="contactMail">Email adres</label>
             <input id="contactMail" type="email" name="contactMail" value="<%=allSensors.contactMail%>"> <span>*required</span><br/>

             <label for="contactPhoto">Profielfoto</label>
             <input id="contactPhoto" class="input-contact-pf" type="url" name="contactPhoto" value="<%=allSensors.contactPhoto%>">
             <img class="output-contact-pf" src="<%=allSensors.contactPhoto%>"/>
        </fieldset>

        <fieldset id="reference">
            <legend>Reference project information</legend>
            <label for="referenceTitle">Reference title</label>
            <input id="referenceTitle" type="text" name="referenceTitle" value="<%=allSensors.referenceTitle%>"> <span>*required</span><br/>

            <label for="referenceSummary">reference Summary</label><br/>
            <textarea id="referenceSummary" name="referenceSummary" rows="4" cols="50"><%=allSensors.referenceSummary%></textarea><br/>

             <label for="referenceLink">Reference Link</label>
             <input id="referenceLink" type="url" name="referenceLink" value="<%=allSensors.referenceLink%>"><br/>

             <label for="referenceImage">Reference image</label>
             <input id="referenceImage" class="input-reference-image" type="url" name="referenceImage" value="<%=allSensors.referenceImage%>">
             <img class="output-reference-image" src="<%=allSensors.referenceImage%>"/>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
</section>
 </main>
</body>
