     <% include partials/head %>
     <% include partials/header %>
     <% include partials/aside %>

     <main class="add">
        <section>
            <h1>Nieuwe sensor</h1>
        <form class="userInput" method="post" >
            <fieldset id="sensor">
                <legend>Sensor informatie</legend>

                <label for="name">Naam <span>*required</span></label>
                <input id="name" type="text" name="name" placeholder="XRF"required>

                <label for="image">Sensor foto</label>
                <input id="image" type="url" name="image" class="input-sensor-img" placeholder="https://www.example.nl/example-image.jpg">
                <img class="output output-sensor-img" src="/images/tauw_logo_zonder.png" alt="preview of profile image"/>


                <% Object.keys(AllSettings).forEach(function(key) { %>
                    <% if(key !== "_id" && key !== "filters"){ %>
                        <% if(  key === "sector" ||
                                    key ==="branch" ||
                                    key ==="tags" ||
                                    key ==="level" ||
                                    key ==="scale"){ %>
                            <fieldset>
                                <legend><%= key %></legend>
                                <p>Selecteer passende <%= key %>. <span>*required</span></p>

                                    <% AllSettings[key].forEach(function(value) { %>
                                        <label for="<%= key %>_<%= value %>">
                                            <input type="checkbox" name="<%= key %>" id="<%= key %>_<%= value %>" value="<%= value %>"><%= value %>
                                        </label>

                                    <% }) %>
                                        <input type="checkbox" name="<%= key %>" id="nieuw-<%= key %>" value="nieuw">
                                        <label for="nieuw-<%= key%>" class="nieuw">Nieuw</label>
                                        <input type="text" name="<%= key %>" id="nieuw-<%= key %>2">
                            </fieldset>
                        <% } else{ %>
                            <fieldset>
                                <legend><%= key %></legend>
                                <p>Selecteer de overeenkomende <%= key %>.</p>

                                    <select name="<%= key %>" id="<%= key %>">
                                        <% AllSettings[key].forEach(function(value) { %>
                                              <option value="<%= value %>"><%= value %></option>
                                          <% }) %>
                                    </select>

                            </fieldset>

                        <% } %>
                    <% } %>
                <% }) %>

                     <label for="summary_smal">Short summary</label>
                     <textarea id="summary_smal" name="summary_smal" class="small-textarea" placeholder="Samenvatting..."></textarea>

                     <label for="summary_big">Long summary</label>
                     <textarea id="summary_big" name="summary_big" class="large-textarea" placeholder="Samenvatting..."></textarea>

            </fieldset>

            <fieldset id="contact">
                <legend>Contact information</legend>
                 <label for="contactName">Voor- en achternaam <span>*required</span></label>
                 <input id="contactName" type="text" name="contactName" placeholder="John Doe"required>

                 <label for="contactPhone">Telefoon nummer</label>
                 <input id="contactPhone" type="tel" placeholder="0612345678" name="contactPhone">

                 <label for="contactMail">Email adres <span>*required</span></label>
                 <input id="contactMail" type="email" name="contactMail"  placeholder="example@mail.com" required>

                 <label for="contactPhoto">Profielfoto <span>*required</span></label>
                 <input id="contactPhoto" type="url" name="contactPhoto" class="input-contact-pf" placeholder="https://www.example.nl/example-image.jpg">
                 <img class="output output-contact-pf" src="/images/tauw_logo_zonder.png" alt="preview of contactPhoto"/>

            </fieldset>

            <fieldset id="reference">
                <legend>Referentie project informatie</legend>
                <label for="referenceTitle">Project titel</label>
                <input id="referenceTitle" type="text" name="referenceTitle" placeholder="Voorbeeld titel">

                <label for="referenceSummary">Project samenvatting</label>
                <textarea id="referenceSummary" name="referenceSummary" class="large-textarea" placeholder="Samenvatting..."></textarea>

                 <label for="referenceLink">Project link</label>
                 <input id="referenceLink" type="url" name="referenceLink" placeholder="https://www.example.nl/example-project.html">

                 <label for="referenceImage">Project foto</label>
                 <input id="referenceImage" type="url" name="referenceImage" class="input-reference-image" placeholder="https://www.example.nl/example-image.jpg">
                 <img class="output output-reference-image" src="/images/tauw_logo_zonder.png" alt="preview of referenceImage"/>

            </fieldset>

            <input type="submit" value="Submit">
        </form>

       </section>

    </main>
    <script src="/javascripts/imagePreview.js"></script>
    <script src="/javascripts/requiredInputs.js"></script>
  </body>
</html>
