
<header>
    <a href="#" title="Filter" id="open-menu">Menu</a>
    <a href="#" title="Filter" id="close-menu">Close</a>
</header>

<aside id="menu">
    <div class="content">
    <a href="../../../" title="Tauw">
        <img src="/images/tauw_logo_white.svg" alt="Tauw logo">
    </a>

    <% if (page === "index") { %>
        <h2>Tauw selectietool</h2>
        <p>De selectietool maakt het mogelijk om de geschikte meetmethode te vinden om de toepassing te verwezenlijken die u voor ogen heeft.</p>
        <p class="strong italic">Kies een sector op de kaart hiernaast</p>
        <p>of</p>
        <form>
            <span class="search-icon"></span>
            <input type="search" name="search" id="search" class="search" placeholder="Uw zoekopdracht">
        </form>
    <% }

    else if (page === "sector") { %>
        <div class="breadcrumbs">
            <a href="../../../" title="Tauw">Home /</a>
            <a href="../" title="Tauw"><%= currentSector %></a>
        </div>
        <form>
            <span class="search-icon"></span>
            <input type="search" name="search" id="search" class="search" placeholder="Uw zoekopdracht">
        </form>
        <img src="/images/<%= currentSector %>.svg" class="sector" alt="sector <%= currentSector %>">
        <h3>Uw keuzes</h3>
        <p><strong>Sector: </strong> <%= currentSector %> </p>

    <% }

    else if (page === "branch") { %>
        <div class="breadcrumbs">
            <a href="../../../" title="Tauw">Home /</a>
            <a href="./" title="Tauw"><%= currentSector %> /</a>
            <a href="" title="Tauw"><%= currentBranch %></a>
        </div>
        <form>
            <span class="search-icon"></span>
            <input type="search" name="search" id="search" class="search" placeholder="Uw zoekopdracht">
        </form>
        <img src="/images/<%= currentSector %>.svg" class="sector" alt="sector industrie">
        <h3>Uw keuzes</h3>
        <p><strong>Sector: </strong> <%= currentSector %> </p>
        <p><strong>Werkgebied: </strong> <%= currentBranch %> </p>
        <% include filters %>

    <% }

    else if (page === "detail") { %>
        <div class="breadcrumbs">
            <a href="../../../" title="Tauw">Home /</a>
            <a href="../" title="Tauw"><%= currentSector %> /</a>
            <a href="./" title="Tauw"><%= currentBranch %></a>
        </div>
        <form>
            <span class="search-icon"></span>
            <input type="search" name="search" id="search" class="search" placeholder="Uw zoekopdracht">
        </form>
        <img src="/images/<%= currentSector %>.svg" class="sector" alt="sector industrie">
        <h3>Uw keuzes</h3>
        <p><strong>Sector: </strong> <%= currentSector %> </p>
        <p><strong>Werkgebied: </strong> <%= currentBranch %> </p>
        <p><strong>Sensor: </strong> <%= currentSensor %> </p>
    <% }
    else if (page === "search") { %>
        <div class="breadcrumbs">
            <a href="../../../" title="Tauw">Home /</a>
        </div>
        <form>
            <span class="search-icon"></span>
            <input type="search" name="search" id="search" class="search" placeholder="Uw zoekopdracht">
        </form>
        <h3>Uw keuze : </h3>
        <p><strong>Zoekopdracht: </strong> <%= searchQuery %> </p>

    <% }

    else { %>
        <h2>Aside not found</h2>

    <% } %>
</div>
<script src="/javascripts/filters.js"></script>
</aside>
