<aside>
    <form>
        <label for="search">Zoek naar meettechnieken of sensoren</label>
        <input type="text" name="search" class="search" placeholder="Search..">
    </form>
    <p>Hieronder staan alle meettechnieken en sensoren, die tot de <span id="chosenSector">gekozen</span> sector behoren.</p>
    <section>
        <%if (parsedJSON.sectors[0] == "Landelijk") { %>
            <% parsedJSON.branch.forEach(function(branchID) { %>
                <section>
                    <label for="<%= branchID %>"><%= branchID %>
                        <span class="count"></span>
                        <span class="arrow">V</span>
                    </label>
                    <input class="dropdown" type="checkbox" class="down" name="<%= branchID %>" id="<%= branchID %>" value="<%= branchID %>">
                    <ul class="<%= branchID %>">
                        <% parsedJSON.sensors.forEach(function(sensorID) { %>
                            <%if (sensorID.sector == "Landelijk") { %>
                                    <% sensorID.branch.forEach(function(sensorBranch) { %>
                                        <%if (sensorBranch == branchID) { %>
                                            <li><a href=""><%= sensorID.name %></a></li>
                                        <% } %>
                                    <% }) %>
                            <% } %>
                        <% }) %>
                    </ul>
                </section>
            <% }) %>
        <% } %>
        <div class="noMatches"><p>Geen overeenkomende sensoren gevonden.</p></div>
    </section>
</aside>
