
<main class="category">

  <section>

    <!-- <h1><%= currentSector %></h1> -->

    <div>
      <img src="/images/<%= currentSector %>.svg" alt="Currently in sector: <%= currentSector %>" />
    </div>

    <h2>Werkgebieden binnen <span><%= currentSector %></span></h2>

    <ul class="branches">
        <% allSensors.forEach(function(sensorID) { %>
              <li>
                  <a href="/details/Industrie/Bodem" alt="<%= currentSector %>">Bodem</a>
              </li>
        <% }) %>
    </ul>

  </section>

</main>
