
<main class="category">

  <section>

    <!-- <h1><%= currentSector %></h1> -->

    <div class="category-img">
      <img src="/images/<%= currentSector %>.svg" alt="Currently in sector: <%= currentSector %>" />
    </div>

    <h2>Werkgebieden binnen <span><%= currentSector %></span></h2>

    <ul class="branches">
        <% allBranches.branch.forEach(function(branchID) { %>
            <li>
                  <a href="/details/<%= currentSector %>/<%= branchID %>" alt="<%= currentSector %>"><%= branchID %></a>
            </li>
        <% }) %>
    </ul>

  </section>

</main>
