
<main class="category">

  <section>

    <!-- <h1><%= currentSector %></h1> -->

    <div class="category-img">
      <span class="drone">
        <% include svg/drone %>
      </span>
      <span class="satellite">
        <% include svg/satellite %>
      </span>
      <!--  -->
      <% if (currentSector === "Industrie") { %>
        <% include svg/industrie %>
      <% } else if (currentSector === "Stedelijk") { %>
        <% include svg/stedelijk %>
      <% } else if (currentSector === "Landelijk") { %>
          <% include svg/landelijk %>
      <% } else { %>
        <img src="/images/<%= currentSector %>.svg" alt="Currently in sector: <%= currentSector %>" />

      <% } %>
    </div>

    <h2>Werkgebieden binnen <span><%= currentSector %></span></h2>

    <ul class="branches expandUp2">
        <% allBranches.branch.forEach(function(branchID) { %>
            <li>
                  <a href="/details/<%= currentSector %>/<%= branchID %>" title="<%= currentSector %>"><%= branchID %></a>
            </li>
        <% }) %>
    </ul>

  </section>

</main>
