<section class="detail">

 <header>
   <h2><%= sensor.name %></h2>
 </header>

 <section id="selection_info">
   <img src="/images/xrf.jpg" alt="sensor image">
   <div id="selection_info_what">
     <table>
       <tr>
         <th>Wat</th>
         <% sensor.tags.forEach(function(tagElement) { %>
             <td><%= tagElement %></td>
         <% }) %>-
       </tr>
       <tr>
         <th>Niveau</th>
         <% sensor.level.forEach(function(levelElement) { %>
             <td><%= levelElement %></td>
         <% }) %>
       </tr>
       <tr>
         <th>Waarin</th>
         <% sensor.branch.forEach(function(branchElement) { %>
             <td><%= branchElement %></td>
         <% }) %>
       </tr>
     </table>
   </div>
   <div id="selection_info_criteria">
     <% if(sensor.resolution !== "n.v.t." ) { %>
      <table>
        <tr>
          <th>Resolutie</th>
          <td><%= sensor.resolution %></td>
        </tr>
      </table>
     <% } %>
     <% if(sensor.accuracy !== "n.v.t." && sensor.accuracy!== "undefined" ) { %>
      <table>
        <tr>
          <th>Acuraatheid</th>
          <td><%= sensor.accuracy %></td>
        </tr>
      </table>
     <% } %>
     <% if(sensor.interval !== "n.v.t." ) { %>
      <table>
        <tr>
          <th>interval</th>
          <td><%= sensor.interval %></td>
        </tr>
      </table>
     <% } %>
     <% if(sensor.duration !== "n.v.t." ) { %>
      <table>
        <tr>
          <th>tijdsduur</th>
          <td><%= sensor.duration %></td>
        </tr>
      </table>
     <% } %>
     <% if(sensor.innovation !== "n.v.t." ) { %>
      <table>
        <tr>
          <th>innovatie</th>
          <td><%= sensor.innovation %></td>
        </tr>
      </table>
     <% } %>
     <% if(sensor.costs !== "n.v.t." ) { %>
      <table>
        <tr>
          <th>kosten</th>
          <td><%= sensor.costs %></td>
        </tr>
      </table>
     <% } %>

   </div>
 </section>
 <article class="sensor_discription">
   <h2>Beschrijving</h2>
   <p><%= sensor.summary_big %></p>
 </article>
</section>
