<main class="detail">

  <section>

    <header class="clearfix">
      <div class="img-wrap">
         <% if(sensor.image.length > 1){ %>
           <img src="<%= sensor.image.replace(/ /g, '%20') %>" alt="Image of the <%= sensor.name %>">
         <% } else{ %>
           <img src="/images/xrf.jpg" alt="<%= sensor.name %>">
        <% } %>
      </div>
      <h2><%= sensor.name %></h2>
    </header>

    <section id="selection_info">
        <h2>Specificaties</h2>

      <div id="selection_info_what">
        <table>
          <tr>
            <th>Wat</th>
            <td>
              <ul>
                <% sensor.tags.forEach(function(tagElement) { %>
                <li><%= tagElement %></li>
                <% }) %>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Niveau</th>
            <td>
              <ul>
                <% sensor.level.forEach(function(levelElement) { %>
                <li><%= levelElement %></li>
                <% }) %>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Waarin</th>
            <td>
              <ul>
                <% sensor.branch.forEach(function(branchElement) { %>
                <li><%= branchElement %></li>
                <% }) %>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="selection_info_criteria">
        <table>
        <% if(sensor.resolution !== "n.v.t." && sensor.resolution !== "undefined" && sensor.resolution !== "" ) { %>
           <tr>
             <th>Resolutie</th>
             <td><%= sensor.resolution %></td>
           </tr>
        <% } %>
        <% if(sensor.accuracy !== "n.v.t." && sensor.accuracy !== "undefined" && sensor.accuracy !== "" ) { %>
           <tr>
             <th>Acuraatheid</th>
             <td><%= sensor.accuracy %></td>
           </tr>
        <% } %>
        <% if(sensor.interval !== "n.v.t." && sensor.interval !== "undefined" && sensor.interval !== "" ) { %>
           <tr>
             <th>interval</th>
             <td><%= sensor.interval %></td>
           </tr>
        <% } %>
        <% if(sensor.duration !== "n.v.t." && sensor.duration !== "undefined" && sensor.duration !== "" ) { %>
           <tr>
             <th>tijdsduur</th>
             <td><%= sensor.duration %></td>
           </tr>
        <% } %>
        <% if(sensor.innovation !== "n.v.t." && sensor.innovation !== "undefined" && sensor.innovation !== "" ) { %>
           <tr>
             <th>innovatie</th>
             <td><%= sensor.innovation %></td>
           </tr>
        <% } %>
        <% if(sensor.costs !== "n.v.t." && sensor.costs !== "undefined" && sensor.costs !== "" ) { %>
           <tr>
             <th>kosten</th>
             <td><%= sensor.costs %></td>
           </tr>
        <% } %>
       </table>
      </div>
    </section>
    <article class="sensor_discription">
      <h2>Beschrijving</h2>
      <p><%= sensor.summary_big %></p>
      <% if(sensor.referenceSummary !== "n.v.t." && sensor.referenceSummary !== "undefined" && sensor.referenceSummary !== "" ) { %>
        <h2>Voorbeeld project</h2>
        <p><%= sensor.referenceSummary %></p>
      <% } %>
      <% if(sensor.referenceLink !== "n.v.t." && sensor.referenceLink !== "undefined" && sensor.referenceLink !== "" ) { %>
        <a href="<%= sensor.referenceLink %>" title="Naar voorbeeld project" class="referencelink"  target="_blank">Naar voorbeeld project</a>
      <% } %>
      <% if(sensor.contact !== "n.v.t." && sensor.contact !== "undefined" && sensor.contact !== "" ) { %>
        <section class="contactInformation">
            <h2>Contactpersoon</h2>
            <div class="img-wrap">
               <% if(sensor.contactPhoto.length > 1){ %>
                 <img src="<%= sensor.contactPhoto %>" alt="Image of <%= sensor.contactName %>">
              <% } %>
            </div>
            <div class="contactInfo">
                <% if(sensor.contactName.length > 1){ %>
                    <h3><%= sensor.contactName %></h3>
                <% } %>
                <% if(sensor.contactMail.length > 1){ %>
                    <div>
                        <p>Email</p>
                        <p><a href="mailto:<%= sensor.contactMail %>" alt="mail to <%= sensor.contactName %>"><%= sensor.contactMail %></a></p>
                    </div>
                <% } %>
                <% if(sensor.contactPhone.length > 1){ %>
                    <div>
                        <p>Telefoon</p>
                        <p><a href="tel:<%= sensor.contactPhone %>" alt="Phone number of <%= sensor.contactName %>"><%= sensor.contactPhone %></a></p>
                    </div>
                <% } %>
            </div>
        </section>
      <% } %>

    </article>

  </section>

</main>
