<section id="filter">

    <form name="filter" action = "?" method = "GET">

      <h3>Filter</h3>

      <% filters.forEach(function(filter) { %>
        <% if (activeFilters[filter].length > 0) { %>
          <fieldset>
            <label for="<%= filter %>"><%= filter %>
                <span class="arrow down"></span>
            </label>
            <% for (var i = 0; i < activeFilters[filter].length; i++) { if (checkedFilters !== "false" && checkedFilters[filter] == activeFilters[filter][i] ) { %>
              <input type="checkbox" id="<%= filter %>" name="<%= filter %>filter" checked value="schaal" class="filter-dropdown" />
              <ul>
                <% activeFilters[filter].forEach(function(val) { %>
                  <% if (checkedFilters !== "false" && checkedFilters[filter] == val ) { %>
                    <li><label><input type="checkbox" name="<%= filter %>" checked value="<%= val %>" /><%= val %></label></li>
                  <% } else{ %>
                    <li><label><input type="checkbox" name="<%= filter %>" value="<%= val %>" /><%= val %></label></li>
                  <% } %>
                <% }) %>
              </ul>
            <% return } else if (i == activeFilters[filter].length-1) { %>
              <input type="checkbox" id="<%= filter %>" name="<%= filter %>filter" value="schaal" class="filter-dropdown" />
              <ul>
                <% activeFilters[filter].forEach(function(val) { %>
                  <% if (checkedFilters !== "false" && checkedFilters[filter] == val ) { %>
                    <li><label><input type="checkbox" name="<%= filter %>" checked value="<%= val %>" /><%= val %></label></li>
                  <% } else{ %>
                    <li><label><input type="checkbox" name="<%= filter %>" value="<%= val %>" /><%= val %></label></li>
                  <% } %>
                <% }) %>
              </ul>
            <% } } %>

          </fieldset>
        <% } %>
      <% }) %>

      <input id="filtersubmit" type="submit" value="Toepassen" />

    </form>

</section>
<script src="/javascripts/lib/promise.min.js"></script>
<script src="/javascripts/rotateArrows.js"></script>
<script src="/javascripts/filters.js"></script>
