<section id="filter">

    <form name="filter" action = "?" method = "GET">

      <h3>Filter</h3>

      <% filters.forEach(function(filter) { %>

        <fieldset>
          <label for="<%= filter %>"><%= filter %>
              <span class="arrow down"></span>
          </label>
          <input type="checkbox" id="<%= filter %>" name="<%= filter %>filter" value="schaal" class="filter-dropdown" />
          <ul>
            <% activeFilters[filter].forEach(function(val) { %>
              <li><label><input type="checkbox" name="<%= filter %>" value="<%= val %>" /><%= val %></label></li>

            <% }) %>
          </ul>
        </fieldset>

      <% }) %>
      <input type="submit" value="Toepassen" />

    </form>

</section>
<script src="/javascripts/lib/promise.min.js"></script>
<script src="/javascripts/rotateArrows.js"></script>
<script src="/javascripts/filters.js"></script>
