<main>
    <% if(allSensors.length > 0){ %>
        <section>

          <header>
            <h1 class="current"><%= currentBranch%> <span id="count"></span></h1>
          </header>

          <ul class="branch clearfix">
          <% allSensors.forEach(function(sensorID) { %>
              <% if(sensorID.name !== "" && sensorID.sector !== "" && sensorID.branch !== ""){ %>
                  <li class="clearfix">
                      <div class="image-wrap">
                          <% if(sensorID.image.length > 1){ %>
                            <img src="<%= sensorID.image %>" alt="Image of the <%= sensorID.name %>">
                          <% } else{ %>
                            <img src="/images/xrf.jpg" alt="<%= sensorID.name %>">
                         <% } %>
                      </div>
                    <section>
                          <header>
                            <h4><a href="/details/<%= currentSector %>/<%= currentBranch %>/<%= sensorID.name %>" title="<%= sensorID.name %>"><%= sensorID.name %></a></h4>
                            <% if (page === "search") { %> <h5 class="sector"><%= sensorID.sector%></h5> <% } %>
                          </header>
                      <p><%= sensorID.summary_small %></p>
                      <a href="/details/<%= currentSector %>/<%= currentBranch  %>/<%= sensorID.name %>" title="meer..." class="more-url">meer...</a>
                    </section>
                  </li>
              <% } %>
          <% }) %>
          </ul>

        </section>
     <% } else{ %>
       <section>
           <h1 class="current"><%= currentBranch%></h1>
           <p>Geen overeenkomende sensoren gevonden.</p>
       </section>
    <% } %>
    

</main>
