<main>
  <!-- <h2><%= curentSector %></h2> -->
  <% if(allSensors.sector !== "nothing"){ %>
      <% parsedJSON.branch.forEach(function(branchID) { %>

        <section>

          <header>
            <h1><%= branchID %></h1>
          </header>

          <ul class="branch clearfix">
          <% allSensors.forEach(function(sensorID) { %>
            <% sensorID.branch.forEach(function(sensorBranch) { %>
              <%if (sensorBranch == branchID) { %>

                <li class="clearfix">
                  <aside>
                    <img src="/images/xrf.jpg" alt="<%= sensorID.name %>" />
                  </aside>
                  <section>
                    <h4><a href="/details/<%= allSensors[0].sector %>/<%= branchID %>/<%= sensorID.name %>" title="<%= sensorID.name %>"><%= sensorID.name %></a></h4>
                    <p><%= sensorID.summary_small %></p>
                    <a href="/details/<%= allSensors[0].sector %>/<%= branchID %>/<%= sensorID.name %>" title="meer..." class="more-url">meer...</a>
                  </section>

                </li>

              <% } %>
            <% }) %>
          <% }) %>
          </ul>
        </section>
      <% }) %>
   <% } else{ %>
     <section><p>Geen overeenkomende sensoren gevonden.</p></section>
  <% } %>
</main>
