<main>
        <section>
            <h1 class="current"><%= currentBranch%></h1>

          <ul class="branch clearfix">
          <% allSensors.forEach(function(sensorID) { %>
                <li class="clearfix">
                    <div>
                        <img src="/images/XRF.jpg" alt="<%= sensorID.name %>" />
                    </div>
                  <section>
                    <h4><a href="/details/<%= currentSector %>/<%= currentBranch %>/<%= sensorID.name %>" title="<%= sensorID.name %>"><%= sensorID.name %></a></h4>
                    <p><%= sensorID.summary_small %></p>
                    <a href="/details/<%= currentSector %>/<%= currentBranch  %>/<%= sensorID.name %>" title="meer..." class="more-url">meer...</a>
                  </section>

                </li>
          <% }) %>
          </ul>


        </section>

     <!-- <section><p>Geen overeenkomende sensoren gevonden.</p></section> -->

</main>
